# Compiled binary files
*.exe
*.dll
*.so
*.dylib

# Build output directories
/bin/
/pkg/

# Dependency management files
/vendor/
/go.sum

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore specific main file
/main

!/main.go